- var environment = htmlWebpackPlugin.options.environment
doctype
html(lang='en', ng-app='app')
	head
		meta(charset='utf8')
		title JsonConverter 2
		link(href="https://fonts.googleapis.com/css?family=Lobster", rel="stylesheet")
		link(href="https://fonts.googleapis.com/css?family=Open+Sans:400,700", rel="stylesheet")
		link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet")
		link(href=require('flexboxgrid/css/flexboxgrid.min.css'), rel="stylesheet")
	body
		block body