@import '../../../../../stylus/reset/reset'
@import '../../../../../stylus/buttons/*'
@import '../../../../../stylus/titles/*'
@import '../../../../../stylus/inputs/*'
@import '../../../../../stylus/borders/*'
@import '../../../../../stylus/colors/*'

html
body
	height 100%

main
	background $blue-flat
	height 100%

