/* ==========================================================================
	-- Spaces ( margins || paddings )
========================================================================== */
	
$margin-primary = 40px
$margin-secondary = 20px
$margin-input-between = 49%
$margin-remove-dialog = 60px