i.fa.fa-times-circle(
	aria-hidden='true', 
	(click)='deleteChange(contact.Name)'
)
h3 {{ contact.Name }}
.phone {{ contact.Phone }}
.email {{ contact.Email }}
.subject {{ contact.Subject }}
.message {{ contact.Message }}