/* ==========================================================================
	-- Colors
========================================================================== */
/* ==========================================================================
	-- Blue Shades
========================================================================== */

$blue-light = #7ac0f8
$blue-flat = #2962ff

/* ==========================================================================
	-- Green Shades
========================================================================== */

$green-default = #26a69a
$green-light = #80cbc4